<div th:fragment="header">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <h5 class="my-0 font-weight-normal">ITgleber</h5>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/home">Main</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Blog</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Add info</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About</a>
    </nav>
</div>
</div>